<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#41414C" />
<link rel="shortcut icon" href="images/favicon.png" type="image/png" />
<title>JobsCalc</title>

<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/partials/page-header.css" />
<link rel="stylesheet" href="/styles/partials/cards.css" />
<link rel="stylesheet" href="/styles/partials/buttons.css" />
<link rel="stylesheet" href="/styles/partials/animations.css" />

<% switch(page){
  case 'index': %>   
    <link rel="stylesheet" href="/styles/pages/index.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <script src="scripts/index.js" defer type="module"></script>

  <% case 'profile': %>
    <link rel="stylesheet" href="/styles/pages/profile.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />

  <% case 'job': %>
    <link rel="stylesheet" href="/styles/partials/forms.css" />

  <% case 'job-edit': %>
    <link rel="stylesheet" href="/styles/pages/job.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <script type="module" src="/scripts/job-edit.js"></script>

  <% } %>

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>